<div class="contenedor">
  <div style="width: 30%; height: 500px; float: left;"></div>
  <div class="contenido">

    <div align="center">
      <div class="titulo_form">
        Unju Virtual
      </div>

      <br>
      <form action="registro.html" method="">
        Usuario: <input type="text" name="usuarios" />
        <br>
        <br>
        Contraseña: <input type="password" name="contraseña" />
        <br>
        <br>
        Acepto términos y condiciones <input name="Acepto terminos y condiciones" type="checkbox" />
        <br>
        <br>
        <input class="button" type="submit" name="Entrar" value="Entrar" />
      </form>
    </div>

  </div>
  <div style="width: 30%; height: 500px;float: left;"></div>
</div>