<div class="menu" id="mi_menu" align="center">
  <a class="item" href="#">Inicio</a>
  <a class="item" href="#">Institución</a>
  <a class="item" href="#">Bibliografia</a>
  <a class="item" href="#">Libros</a>
  <a class="item" href="#">Apuntes</a>
  <a class="item" href="#">Ubicación</a>
  <a class="item" href="#">Contacto</a>
  <a class="item" href="#">Foro</a>
  <a class="item" href="#">Ayuda</a>	
  <img class="lupa" src="../../../assets/images/lupa.jpg" alt="lupa" > 
  <input type="text" name="lupa">
</div>