<div class="contenedor">
  <div style="width: 30%; height: 500px; float: left;"></div>
  <div class="contenido">

    <div align="center">
      <div class="titulo_form">
        Unju Virtual
      </div>
      <div class="subtitulo_form">
        Formulario de Registro
      </div>
      <br>
      <form action="dashboard.html" method="">
        Apellidos: <input type="text" name="apellidos"/>
        <br>
        Nombres: <input type="text" name="nombres"/>
        <br>
        Correo electronico: <input type="text" name="correo"/>
        <br>
        Domicilio: <input type="text" name="domicilio"/>
        <br>
        Localidad: 
         <select name="localidad">
           <option value="1" selected> </option>
           <option value="2" selected> Abra Pampa</option>
           <option value="3" selected> El Carmen</option>
           <option value="4" selected> Libertador Gral San Martin</option>
           <option value="5" selected> Maimara</option>
           <option value="6" selected> Purmamarca</option>
           <option value="7" selected> San Antonio</option>
           <option value="8" selected> San Pedro</option>
           <option value="9" selected> San Salvador de Jujuy</option>
           <option value="10" selected> </option>
         </select>
         <br>
        Sexo: <input type="radio" name="sexo" value="1">Hombre <input type="radio" name="sexo" value="2">Mujer
        <br>
        Acepto términos y condiciones <input type="checkbox" name="Acepto terminos y condiciones" />
        <br>
        <br>
        <input class="button" type="submit" name="registrar" value="Registrar"/>
      </form>
    </div>
    
  </div>
  <div style="width: 30%; height: 500px;float: left;"></div>
</div>