<div class="contenedor" style="float: right" >
  <form action="galery.html" method="">
  <table width="100%" style="border: 2">

    <tr>
    <th class="contenedor-avatar">
      <img class="avatar" src="../../assets/images/usuario4.jpg" alt="usuario4">
      <span style="color: #68F3A0" style="font-family: serif;"><b> Romina Paola Janco</b> </span>
    </th>

   <!--codigo donde estan las tarjetas-->
      <td style="align-content: center" valign="middle" class="columna-contenido">
         <div class="carta" style="align-content: center">
           <img class="avatar" src="../../assets/images/usuario1.jpg" alt="usuario1">
           <p><b>
             Alumno 1
           </b></p>
           <p><b>LU: 7458</b></p>
         </div>

      <div class="carta2">
        <img class="avatar" src="../../assets/images/usuario2.jpg" alt="avatar">
        <p><b>
          Alumno 2
        </b></p>
        <p><b>LU: 1234</b></p>	
      </div>

      <div class="carta" style="align-content: center">
           <img class="avatar" src="../../assets/images/usuario3.jpg" alt="usuario1">
           <p><b>
             Alumno 3
           </b></p>
           <p><b>LU: 6061</b></p>
         </div>
      
      <div style="clear: both;" class="text">
        <p>Para ir a Galeria de imagenes presione el boton Ver.</p>
      
      </div>
        <input class="button" type="submit" name="dashboard" value="Ver"> 
       </td>
    </tr>

      		
       

     <!--copie el pedazo donde estan las trajetas-->
      <td  style="align-content: center" colspan="4" class="columna-contenido">
        <table width="80%" class="tabla">
          <tr>
            <th class="celda">Nombres</th>
            <th class="celda">Apellidos</th>
            <th class="celda">Carrera</th>
            <th class="celda">Lu</th>
          </tr>
          <tr>
            <td class="celda1">Romina Paola</td>
            <td class="celda1">Janco</td>
            <td class="celda1">Ing Informatica</td>
            <td class="celda1">5768</td>
        </tr>
          <tr>
            <td class="celda1">Fernando Emanuel</td>
            <td class="celda1">Ordoñez</td>
            <td class="celda1">Ing Informatica</td>
            <td class="celda1">5668</td>
          </tr>
        </table>
