<td  align="center" colspan="4" class="columna-contenido">
  <table width="80%" class="tabla">
    <tr>
      <th class="celda">Autor</th>
      <th class="celda">Título</th>
      <th class="celda">Año</th>
      <th class="celda">Editorial</th>
      <th class="celda">Ciudad</th>
      <th class="celda">País</th>
    </tr>
    <tr>
      <td class="celda1">Antoine De Saint-Exupery</td>
      <td class="celda1">El Principito</td>
      <td class="celda1">1998</td>
      <td class="celda1">Editora Latinoamericana, S.A.</td>
      <td class="celda1">Ciudad de Mexico</td>
      <td class="celda1">Mexico</td>

  </tr>
    <tr>
      <td class="celda1">William Shakespeare</td>
      <td class="celda1"> Romeo and Juliet. Español</td>
      <td class="celda1">1964</td>
      <td class="celda1">Losada</td>
      <td class="celda1">Buenos Aires</td>
      <td class="celda1">Argentina</td>
    </tr>
  </table>